body {
  border-top: 5px solid #8C9EFF;
}

.App {
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  font: 400 100%/1.375 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #212121;
}

a {
  color: #3D5AFE;
}

h1 {
  font: inherit;
  font-weight: 600;
  padding: 1em;
}

textarea { 
  width: 100%;
  height: 15em;
  background: #F5F5F5;
  border: 0;
  padding: 1em;
  box-sizing: border-box;
  font: inherit;
}

button {
  width: 100%;
  border-style: none;
  padding: 1em;
  font: inherit;
  background: #536DFE;
  border-radius: 4px;
  color: #fff;
}